*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 body{
    background-color: rgb(53, 25, 137);
    color: white;
 }
 header nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
 }
 header nav h1{
    font-size: 26px;
    font-weight:700;
    letter-spacing: 1;

 }
 header nav form{
    display: flex;
    justify-content: center;
}
form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"], button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}
form button[type="submit"]{
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.25
    ease-in-out;
}
form button[type="submit"]:hover{
    background-color: #ff5c5c;
}
.recipe_conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.recipe-card {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe-card button {
    color: white;
    background: rgb(55, 0, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto; 
}
button.favorite {
    color: #FFD700; 
    
}

.recipe-card button:hover {
    background: rgb(38, 49, 253);
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.recipe-card button:active {
    transform: scale(1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.recipe-card-functions{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.recipe-card h3 {
    font-size: 18px;
    margin: 10px 0 0;
}
.details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding:30px;
}

.details-content {
    background-color: #333;
    color: white;
    padding: 50px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    max-height: 80%; 
    overflow-y: auto; 
    text-align: left;
    position: relative;
}

.details-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.details-content h1, .details-content p {
    margin-bottom: 15px;
}
.stars {
    display: inline-flex;
    align-items: center;
}

.star {
    font-size: 20px;
    color: #FFD700; 
    margin-right: 3px;
}

.star.filled {
    color: #FFD700;
}

.star:not(.filled) {
    color: #ccc; 
}
button.favourite-btn.favourite {
    color: #ff0000; 
}

.favouritesBtn{
    background-color: rgb(38, 49, 253);
    font-size: medium;
    margin-left:5px;
    border-radius: 4px;
    border:none;
    color:white;
    padding: 5px;
}

@media screen and (max-width: 600px){
    header nav{
        display: flex;
        flex-direction: column;
    }
    header nav form{
        width:80%;
        margin-top: 20px;
    }
}